.metadeesquerda{
  background-color: rgb(70, 43, 226);
  width: 50vw;
  height: 50vw;
  display: block;
  padding-top:10%;
}

.metadeesquerda h2{
  margin-left:-17%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:35px;
  margin-top: -70px;
  padding-bottom: 70px;
}

.portal{
  position: absolute;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size:35px;
  padding-left: 480px;
}


.espelhada{
  transform: scaleX(-1);
  width:900px;
  margin-top: -40px;
  margin-left: -40px;
}

.boasvindas{
  color: white;
  padding-left: 330px;
}

body {
  font-family: Arial, sans-serif;
  display:flex;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}


.esquerda{
  width:50%;
  height: 100vh;
}

.login-container{
  background-color: #ffffff;
  padding:100px;
  max-width: 765px;
  width:100%
}

.login-container h3{
  margin-left: 100px;
}

.login-container h2{
  margin-left: 100px;
  margin-top:130px;
  margin-bottom: 50px;
  font-size:24px;
  color:#333;
}

.login-container label{
  display: block;
  margin-left: 100px;
  margin-bottom:10px;
  font-weight: bold;
  color:#999;
}

.login-container input[type='email'],
.login-container input[type='password']{
  width:420px;
  padding:10px;
  margin-bottom: 20px;
  margin-left: 100px;
  border:none;
  border-bottom: 2px solid#ccc;
  font-size: 16px;
}

.login-container .esqueci-a-senha,
.login-container .verificar-conta{
  display:inline-block;
  font-size:14px;
  color: #808080;
  text-decoration: underline;
  margin-top:-15px;
  margin-left: 100px;
}

.login-container .esqueci-a-senha:hover,
.login-container .verificar-conta:hover{
  color:blue;
}

.criar:hover{
  color:blue;
}

.password-container {
  position: relative;
  width: fit-content;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
}

.login-container .toggle-password{
  cursor: pointer;
}

.login-container button{
  margin-top: 10%;
  margin-left:100px;
  height:50px;
  width:25%;
  color: white;
  background-color: rgb(70, 43, 226);
  border-radius: 50px;
  box-shadow: #000000;
  cursor: pointer;
}
